<!DOCTYPE html>
<html>
    <body>
        <ul>
            <li id="header_li">ツイート</li>
            <li id="header_li">ツイートと返信</li>
            <li id="header_li">メディア</li>
            <li id="header_li">いいね</li>
        </ul>
    </body>
</html>