<!DOCTYPE html>
<html>
    <body>
        <ul>
            <li id="sidebar_li">🏠ホーム</li>
            <li id="sidebar_li">＃話題を検索</li>
            <li id="sidebar_li">🔔通知</li>
            <li id="sidebar_li">✉️メッセージ</li>
            <li id="sidebar_li">🔖ブックマーク</li>
            <li id="sidebar_li">📃リスト</li>
            <li id="sidebar_li">🙋プロフィール️</li>
            <li id="sidebar_li">もっと見る</li>
            <li id="sidebar_li">
            <%= link_to 'ツイートする', '/tweets/new' %></li>
        </ul>
    </body>
</html>